<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>The Movie DB</h1>

  <br />

  <p>
    This is my first app in ionic 5 to show the latest movies in TheMovieDB.org.
    It uses an API from that website.
  </p>

  <br />

  <p>
    Enjoy so many features in the app.
  </p>

  <!-- <app-explore-container name="About"></app-explore-container> -->
</ion-content>
