.user_name {
    color: rgba(105, 1, 1, 0.938);
    font-weight: bolder;
}

.feed_title {
    color: rgb(255, 136, 0);
    font-weight: bold;
    font-style: italic;
}

.feed_date {
    color: rgb(128, 109, 0);
    font-family: fantasy;
    font-style: oblique;
}