<ion-header>
  <ion-toolbar>
    <ion-title>Filmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let filme of (films | async)?.results">
    <ion-item>
      <p class="feed_title">{{ filme.original_title }}</p>
      <p class="feed_date">(Released in {{ filme.release_date }})</p>
    </ion-item>

    <img [src]="'https://image.tmdb.org/t/p/w300/' + filme.poster_path" />

    <ion-card-content>
      <p>
        {{ filme.overview }}
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>Popularity: {{ filme.vote_average }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear>
          <ion-icon name="text"></ion-icon>
          <div>Language: {{ filme.original_language }}</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <button ion-button icon-start clear>
          <!-- <ion-icon name=""></ion-icon> -->
          <div>Cost: US$ {{ filme.budget }}</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
